<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>PHP</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{{ app.request.basePath }}/css/normalize-3.0.3.min.css">
    <link rel="stylesheet" href="{{ app.request.basePath }}/css/main.css">
    <link rel="stylesheet" href="{{ app.request.basePath }}/css/ui-button.css">
    <link rel="stylesheet" href="{{ app.request.basePath }}/css/ui-form.css">
    <link rel="stylesheet" href="{{ app.request.basePath }}/css/ui-table.css">
</head>
<body>
    <h1>Flickr in Silex :-)</h1>

    {% block main_body %}Ici se trouvera le contenu HTML principal{% endblock %}

    {% block footer %}{% endblock %}
</body>
</html>